nav > div > a {
	border: 1px solid yellow;
  padding: 3px 5px;
}
a {
  padding: 10px;
  border: dotted 1px;
}
a:hover{
  background: green;
}
body > header{ 
	margin-top: 60px; 
}
section article p{
padding: 2em 1em;
margin-bottom: 2em;
background-color: #e9ecef;
border-radius: 1em;
}
header h1 {
font-family: 'comic Sans', sans-serif;
color:#FF6633;
text-align: center;	
}
.logo{
	padding: 10px; margin: 10px; border: 2px solid black; float: right; width: 250px; 
}
